:root {
  --purple-color: #827397;
  --grey-color: #5f5b5b;
  --grey-light-color: #dfdede;
  --font-text: "Poppins", sans-serif;
}

* {
  max-width: 470px;
  font-family: var(--font-text);
  text-decoration: none;
  list-style: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

html,
body {
  background-color: #ffffff;
}

.content {
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

p {
  font-size: 12px;
}
